<div class="col-md-5 problem-box">
  <h1>Today's warmup</h1>
  <h4>Post your solution in #warmup-answers before 9am</h4>
  <h4>And Jeff Wan still loves pumpkins</h4>

  <div class="problem">
    <%= @problem.html_safe %>
  </div>
</div>
