// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background-image: url('http://www.billboard.com/files/styles/promo_650/public/media/taylor-swift-shake-it-off-video-2-2014-billboard-650.jpg');
  background-size: cover;
}

.problem-box {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  margin: 6em;
}

.problem {
  color: black;
}

.problem a {
  color: black;
  text-decoration: underline;
}
